<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link href="/css/tailwind.css" rel="stylesheet">
  <title>Amis de l'Escalade</title>

</head>
<body>
  <section th:fragment="card_sitesEsca">

    <!-- Titre de la section -->
    <h1 class="font-bold text-center sm:text-left text-2xl sm:text-4xl mx-1 sm:ml-4 underline">Découvrez nos meilleurs sites d'escalades :</h1>
    <!-- Grille de card de sites d'escalades -->
    <div class="grid grid-cols-1  md:grid-cols-3 gap-2 lg:gap-4 p-6">
      <!--Card 1-->
      <div class="bg-green-50 max-w-sm rounded overflow-hidden shadow-lg divide-y divide-black divide-dashed">
        <div class="">
          <img alt="lisiere" class="w-full mb-2" src="images/photos_escalade/escalade_lisiere.jpeg">
          <img alt="localisation" class="w-full my-2" src="images/photos_escalade/escalade_lisiere.jpeg">
        </div>
        <div class="px-6 py-2">
          <div class="font-bold text-xl mb-2">Nom du Site : Orsay</div>
          <div class="font-bold text-base mb-2">Secteur : Îles de France</div>
          <div class="font-bold text-base mb-2">Niveau/Voies : du 7a au 8c</div>
          <div class="font-bold text-base mb-2">Hauteur max : 4m</div>
          <div class="relative h-12">
            <button class="absolute right-0 bg-green-700 hover:bg-purple-700 text-black hover:text-white font-bold
                                  px-4 py-2 mb-2 rounded hover:border-transparent">En savoir plus ?</button>
          </div>
        </div>
      </div>

      <!--Card 2-->
      <div class="bg-purple-50 max-w-sm rounded overflow-hidden shadow-lg divide-y divide-black divide-dashed">
        <div class="">
          <img alt="lisiere" class="w-full mb-2" src="images/photos_escalade/escalade_lisiere.jpeg">
          <img alt="localisation" class="w-full my-2" src="images/photos_escalade/escalade_lisiere.jpeg">
        </div>
        <div class="px-6 py-2">
          <div class="font-bold text-xl mb-2">Nom du Site : Orsay</div>
          <div class="font-bold text-base mb-2">Secteur : Îles de France</div>
          <div class="font-bold text-base mb-2">Niveau/Voies : du 7a au 8c</div>
          <div class="font-bold text-base mb-2">Hauteur max : 4m</div>
          <div class="relative h-12">
            <button class="absolute right-0 bg-green-700 hover:bg-purple-700 text-black hover:text-white font-bold
                                  px-4 py-2 mb-2 rounded hover:border-transparent">En savoir plus ?</button>
          </div>
        </div>
      </div>

      <!--Card 3-->
      <div class="bg-green-50 max-w-sm rounded overflow-hidden shadow-lg divide-y divide-black divide-dashed">
        <div class="">
          <img alt="lisiere" class="w-full mb-2" src="images/photos_escalade/escalade_lisiere.jpeg">
          <img alt="localisation" class="w-full my-2" src="images/photos_escalade/escalade_lisiere.jpeg">
        </div>
        <div class="px-6 py-2">
          <div class="font-bold text-xl mb-2">Nom du Site : Orsay</div>
          <div class="font-bold text-base mb-2">Secteur : Îles de France</div>
          <div class="font-bold text-base mb-2">Niveau/Voies : du 7a au 8c</div>
          <div class="font-bold text-base mb-2">Hauteur max : 4m</div>
          <div class="relative h-12">
            <button class="absolute right-0 bg-green-700 hover:bg-purple-700 text-black hover:text-white font-bold
                                  px-4 py-2 mb-2 rounded hover:border-transparent">En savoir plus ?</button>
          </div>
        </div>
      </div>
      <!--Card 4-->
      <div class="bg-purple-50 max-w-sm rounded overflow-hidden shadow-lg divide-y divide-black divide-dashed">
        <div class="">
          <img alt="lisiere" class="w-full mb-2" src="images/photos_escalade/escalade_lisiere.jpeg">
          <img alt="localisation" class="w-full my-2" src="images/photos_escalade/escalade_lisiere.jpeg">
        </div>
        <div class="px-6 py-2">
          <div class="font-bold text-xl mb-2">Nom du Site : Orsay</div>
          <div class="font-bold text-base mb-2">Secteur : Îles de France</div>
          <div class="font-bold text-base mb-2">Niveau/Voies : du 7a au 8c</div>
          <div class="font-bold text-base mb-2">Hauteur max : 4m</div>
          <div class="relative h-12">
            <button class="absolute right-0 bg-green-700 hover:bg-purple-700 text-black hover:text-white font-bold
                                px-4 py-2 mb-2 rounded hover:border-transparent">En savoir plus ?</button>
          </div>
        </div>
      </div>

      <!--Card 5-->
      <div class="bg-green-50 max-w-sm rounded overflow-hidden shadow-lg divide-y divide-black divide-dashed">
        <div class="">
          <img alt="lisiere" class="w-full mb-2" src="images/photos_escalade/escalade_lisiere.jpeg">
          <img alt="localisation" class="w-full my-2" src="images/photos_escalade/escalade_lisiere.jpeg">
        </div>
        <div class="px-6 py-2">
          <div class="font-bold text-xl mb-2">Nom du Site : Orsay</div>
          <div class="font-bold text-base mb-2">Secteur : Îles de France</div>
          <div class="font-bold text-base mb-2">Niveau/Voies : du 7a au 8c</div>
          <div class="font-bold text-base mb-2">Hauteur max : 4m</div>
          <div class="relative h-12">
            <button class="absolute right-0 bg-green-700 hover:bg-purple-700 text-black hover:text-white font-bold
                                px-4 py-2 mb-2 rounded hover:border-transparent">En savoir plus ?</button>
          </div>
        </div>
      </div>

      <!--Card 6-->
      <div class="bg-purple-50 max-w-sm rounded overflow-hidden shadow-lg divide-y divide-black divide-dashed">
        <div class="">
          <img alt="lisiere" class="w-full mb-2" src="images/photos_escalade/escalade_lisiere.jpeg">
          <img alt="localisation" class="w-full my-2" src="images/photos_escalade/escalade_lisiere.jpeg">
        </div>
        <div class="px-6 py-2">
          <div class="font-bold text-xl mb-2">Nom du Site : Orsay</div>
          <div class="font-bold text-base mb-2">Secteur : Îles de France</div>
          <div class="font-bold text-base mb-2">Niveau/Voies : du 7a au 8c</div>
          <div class="font-bold text-base mb-2">Hauteur max : 4m</div>
          <div class="relative h-12">
            <button class="absolute right-0 bg-green-700 hover:bg-purple-700 text-black hover:text-white font-bold
                                px-4 py-2 mb-2 rounded hover:border-transparent">En savoir plus ?</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>