<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    <!-- Footer -->
    <div class="flex items-center justify-around xl:justify-center xl:gap-8 bg-green-600 w-screen h-40 bottom-0">
        <!-- Copyright section -->
        <div class="ml-4 text-center">
            <span>Copyright 2021 - Amis de l'Escalade</span>
        </div>
        <!-- Section des Réseaux sociaux -->
        <div class="mr-4 text-center">
            <span class="font-semibold">Retrouvez nous sur :</span>
            <div class="flex no-wrap gap-4">
                <a href=""><img alt="logo_facebook" class="h-8 w-8 sm:h-12 sm:w-12" src="../images/logos/logo_facebook.png"></a>
                <a href=""><img alt="logo_twitter" class="h-8 w-8 sm:h-12 sm:w-12" src="../images/logos/logo_twitter.png"></a>
                <a href=""><img alt="logo_youtube" class="h-8 w-8 sm:h-12 sm:w-12" src="../images/logos/logo_youtube.png"></a>
            </div>

        </div>

    </div>
</footer>
</body>
</html>