<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link href="/css/tailwind.css" rel="stylesheet">
  <title>Amis de l'Escalade</title>

</head>

<body>
<div class="pt-28 md:pb-16 bg-gray-100"> <!-- Quick fix pour la NavBar Fixé -->
  <!-- Insertion du header -->
  <div th:insert="fragments/header :: header"></div>
</div>

<main class="flex flex-col items-center justify-center bg-gray-100 px-4 sm:px-6 lg:px-8 mb-1">
  <h1 class="font-bold text-4xl mb-6">Modifié un site d'escalades</h1>
  <form class="w-screen flex items-center justify-center"
        method="post" modelAttribute="cs" th:action="@{/changement-site-escalade-sauvegardé}"  th:object="${cs}">
    <div class="w-4/5 flex flex-col items-center justify-center gap-2 rounded-md shadow-sm">

      <!-- Section pour avoir le nom, la région et le pays du site -->
      <section class="bg-white rounded shadow p-2">
        <div class="grid grid-cols-3 items-center gap-2 mb-2">
          <h1 class="col-span-1 font-bold text-lg text-center">Nom du lieu</h1>
          <label class="sr-only" th:for="name"></label>
          <input autocomplete="name" class="appearance-none col-span-2
                    block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900
                    rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" maxlength = "40" pattern="^[a-zA-Z0-9àèìòùÀÈÌÒÙáéíóúýÁÉÍÓÚÝâêîôûÂÊÎÔÛãñõÃÑÕäëïöüÿÄËÏÖÜŸåÅæÆœŒçÇðÐøØß '\-]+$"
                 placeholder="Nom du site"
                 required
                 th:attr="value=${cs.name}" th:id="name"
                 th:name="name"
                 title="Lettres de A à Z (a à z) avec ou sans accent, les chiffres, les espaces, apostrophes et les tirets courts." type="text">
        </div>
        <div class="grid grid-cols-3 items-center gap-2 mb-2">
          <h1 class="col-span-1 font-bold text-lg text-center">Nom de la région</h1>
          <label class="sr-only" th:for="region"></label>
          <input autocomplete="region" class="appearance-none col-span-2
                    block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900
                    rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" maxlength = "40" pattern="^[a-zA-Z0-9àèìòùÀÈÌÒÙáéíóúýÁÉÍÓÚÝâêîôûÂÊÎÔÛãñõÃÑÕäëïöüÿÄËÏÖÜŸåÅæÆœŒçÇðÐøØß '\-]+$"
                 placeholder="Region du site"
                 required
                 th:attr="value=${cs.region}" th:id="region"
                 th:name="region"
                 title="Lettres de A à Z (a à z) avec ou sans accent, les chiffres, les espaces, apostrophes et les tirets courts." type="text">
        </div>
        <div class="grid grid-cols-3 items-center gap-2">
          <h1 class="col-span-1 font-bold text-lg text-center">Nom du pays</h1>
          <label class="sr-only" for="country"></label>
          <select autocomplete="country-name" class="form-control appearance-none rounded-md block col-span-2
                     w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none
                     focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" id="country" name="country"
                  required>
            <option selected value="">Choisissez un Pays</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Åland Islands">Åland Islands</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="American Samoa">American Samoa</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Anguilla">Anguilla</option>
            <option value="Antarctica">Antarctica</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Aruba">Aruba</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <option value="Bouvet Island">Bouvet Island</option>
            <option value="Brazil">Brazil</option>
            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
            <option value="Brunei Darussalam">Brunei Darussalam</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Cape Verde">Cape Verde</option>
            <option value="Cayman Islands">Cayman Islands</option>
            <option value="Central African Republic">Central African Republic</option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Christmas Island">Christmas Island</option>
            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo">Congo</option>
            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
            <option value="Cook Islands">Cook Islands</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Cote D'ivoire">Cote D'ivoire</option>
            <option value="Croatia">Croatia</option>
            <option value="Cuba">Cuba</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
            <option value="Faroe Islands">Faroe Islands</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="French Guiana">French Guiana</option>
            <option value="French Polynesia">French Polynesia</option>
            <option value="French Southern Territories">French Southern Territories</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Gibraltar">Gibraltar</option>
            <option value="Greece">Greece</option>
            <option value="Greenland">Greenland</option>
            <option value="Grenada">Grenada</option>
            <option value="Guadeloupe">Guadeloupe</option>
            <option value="Guam">Guam</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guernsey">Guernsey</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-bissau">Guinea-bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
            <option value="Honduras">Honduras</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Isle of Man">Isle of Man</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jersey">Jersey</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
            <option value="Korea, Republic of">Korea, Republic of</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macao">Macao</option>
            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
            <option value="Malta">Malta</option>
            <option value="Marshall Islands">Marshall Islands</option>
            <option value="Martinique">Martinique</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mayotte">Mayotte</option>
            <option value="Mexico">Mexico</option>
            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
            <option value="Moldova, Republic of">Moldova, Republic of</option>
            <option value="Monaco">Monaco</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Montenegro">Montenegro</option>
            <option value="Montserrat">Montserrat</option>
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Namibia">Namibia</option>
            <option value="Nauru">Nauru</option>
            <option value="Nepal">Nepal</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Netherlands Antilles">Netherlands Antilles</option>
            <option value="New Caledonia">New Caledonia</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Niue">Niue</option>
            <option value="Norfolk Island">Norfolk Island</option>
            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Palau">Palau</option>
            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
            <option value="Panama">Panama</option>
            <option value="Papua New Guinea">Papua New Guinea</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Pitcairn">Pitcairn</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Puerto Rico">Puerto Rico</option>
            <option value="Qatar">Qatar</option>
            <option value="Reunion">Reunion</option>
            <option value="Romania">Romania</option>
            <option value="Russian Federation">Russian Federation</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Saint Helena">Saint Helena</option>
            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
            <option value="Samoa">Samoa</option>
            <option value="San Marino">San Marino</option>
            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <option value="Seychelles">Seychelles</option>
            <option value="Sierra Leone">Sierra Leone</option>
            <option value="Singapore">Singapore</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Solomon Islands">Solomon Islands</option>
            <option value="Somalia">Somalia</option>
            <option value="South Africa">South Africa</option>
            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
            <option value="Spain">Spain</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="Sudan">Sudan</option>
            <option value="Suriname">Suriname</option>
            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
            <option value="Swaziland">Swaziland</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
            <option value="Taiwan, Province of China">Taiwan, Province of China</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
            <option value="Thailand">Thailand</option>
            <option value="Timor-leste">Timor-leste</option>
            <option value="Togo">Togo</option>
            <option value="Tokelau">Tokelau</option>
            <option value="Tonga">Tonga</option>
            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Turkey">Turkey</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
            <option value="Tuvalu">Tuvalu</option>
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Arab Emirates">United Arab Emirates</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Vanuatu">Vanuatu</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Viet Nam">Viet Nam</option>
            <option value="Virgin Islands, British">Virgin Islands, British</option>
            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
            <option value="Wallis and Futuna">Wallis and Futuna</option>
            <option value="Western Sahara">Western Sahara</option>
            <option value="Yemen">Yemen</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
          </select>
        </div>
      </section>

      <!-- Section pour avoir la description, le nombre de voie, la hauteur max, l'intervalles des cotations et
            enfin les information supplémentaire du site -->
      <section class="bg-white rounded shadow p-2">
        <div class="grid grid-cols-3 gap-2 mb-2">
          <h1 class="hidden md:block col-span-1 font-bold text-lg text-center">Description du site</h1>
          <h1 class="block md:hidden col-span-1 font-bold text-lg text-center">Descri- ption du site</h1>
          <label class="sr-only" th:for="description"></label>
          <textarea class="appearance-none col-span-2
                      block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900
                      rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                cols="60" maxlength="1200" placeholder="Description du site" required rows="3"
                 th:field="${cs.description}" th:id="description"
                 th:name="description"
                    title="Lettres de A à Z (a à z) avec ou sans accent, les chiffres, les espaces, apostrophes et les tirets courts." type="text"></textarea>
        </div>
        <div class="grid grid-cols-3 items-center gap-2 mb-2">
          <h1 class="col-span-1 font-bold text-lg text-center">Nombre de voies</h1>
          <label class="sr-only" th:for="nbRoute"></label>
          <input autocomplete="nbRoute" class="appearance-none col-span-2
                      block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900
                      rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" maxlength = "40" placeholder="Description du site"
                 required
                 size="5"
                 th:attr="value=${cs.nbRoute}" th:id="nbRoute"
                 th:name="nbRoute"
                 title="Lettres de A à Z (a à z) avec ou sans accent, les chiffres, les espaces, apostrophes et les tirets courts." type="text">
        </div>
        <div class="grid grid-cols-3 items-center gap-2 mb-2">
          <h1 class="col-span-1 font-bold text-lg text-center">Hauteur Max</h1>
          <label class="sr-only" th:for="maxHeight"></label>
          <input autocomplete="maxHeight" class="appearance-none col-span-2
                      block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900
                      rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" maxlength = "40" pattern="^[a-zA-Z0-9àèìòùÀÈÌÒÙáéíóúýÁÉÍÓÚÝâêîôûÂÊÎÔÛãñõÃÑÕäëïöüÿÄËÏÖÜŸåÅæÆœŒçÇðÐøØß '\-]+$" placeholder="Hauteur maximum du site"
                 required
                 size="5"
                 th:attr="value=${cs.maxHeight}" th:id="maxHeight"
                 th:name="maxHeight"
                 title="Lettres de A à Z (a à z) avec ou sans accent, les chiffres, les espaces, apostrophes et les tirets courts." type="text">
        </div>
        <div class="grid grid-cols-3 items-center gap-2 mb-2">
          <h1 class="col-span-1 font-bold text-lg text-center">Cotations des voies</h1>
          <label class="sr-only" th:for="cotationsRange"></label>
          <input autocomplete="cotationsRange" class="appearance-none col-span-2
                    block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900
                    rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                 maxlength = "40" pattern="^[a-zA-Z0-9àèìòùÀÈÌÒÙáéíóúýÁÉÍÓÚÝâêîôûÂÊÎÔÛãñõÃÑÕäëïöüÿÄËÏÖÜŸåÅæÆœŒçÇðÐøØß '\-]+$"
                 placeholder="Description du site" required
                 th:attr="value=${cs.cotationsRange}" th:id="cotationsRange"
                 th:name="cotationsRange"
                 title="Lettres de A à Z (a à z) avec ou sans accent, les chiffres, les espaces, apostrophes et les tirets courts." type="text" value="" >
        </div>
        <div class="grid grid-cols-3 items-center gap-2">
          <h1 class="hidden md:block col-span-1 font-bold text-lg text-center">Information(s) supplémentaire(s)</h1>
          <h1 class="block md:hidden col-span-1 font-bold text-lg text-center">Info(s) supp(s)</h1>
          <label class="sr-only" th:for="infoSup"></label>
          <textarea class="appearance-none col-span-2
                    block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900
                    rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" cols="60"
                 maxlength = "1200" placeholder="Informations supplémentaires" required rows="3"
                 th:field="${cs.infoSup}" th:id="infoSup"
                 th:name="infoSup"
                 title="Lettres de A à Z (a à z) avec ou sans accent, les chiffres, les espaces, apostrophes et les tirets courts." type="text"></textarea>
        </div>
      </section>

      <!-- Section pour avoir le profile, l'équipement et le type de roche des voies du site -->
      <section class="hidden md:grid grid-cols-4 bg-white rounded shadow p-2 gap-2">
        <div class="col-span-2">
          <h1 class="font-bold text-lg text-left">Profile(s) des voies</h1>
          <div class="flex flex-col ml-4">
            <div th:if="${devers == 'true'}">
              <input checked name="profile" type="checkbox" value="Dévers">
              <label>Dévers</label>
            </div>
            <div th:unless="${devers == 'true'}">
              <input name="profile" type="checkbox" value="Dévers">
              <label>Dévers</label>
            </div>
            <div th:if="${vertical == 'true'}">
              <input checked name="profile" type="checkbox" value="Vertical">
              <label th:for="profile">Vertical</label>
            </div>
            <div th:unless="${vertical == 'true'}">
              <input name="profile" type="checkbox" value="Vertical">
              <label th:for="profile">Vertical</label>
            </div>
            <div th:if="${dalle == 'true'}">
              <input checked name="profile" type="checkbox" value="Dalle">
              <label th:for="profile">Dalle</label>
            </div>
            <div th:unless="${dalle == 'true'}">
              <input name="profile" type="checkbox" value="Dalle">
              <label th:for="profile">Dalle</label>
            </div>
          </div>
        </div>
        <div class="col-span-2">
          <h1 class="font-bold text-lg text-left">Équipement(s) des voies</h1>
          <div class="flex flex-col ml-4">
            <div th:if="${sportif == 'true'}">
              <input checked name="equipment" type="checkbox" value="Sportif">
              <label>Sportif</label>
            </div>
            <div th:unless="${sportif == 'true'}">
              <input name="equipment" type="checkbox" value="Sportif">
              <label>Sportif</label>
            </div>
            <div th:if="${engage == 'true'}">
              <input checked name="equipment" type="checkbox" value="Engagé">
              <label>Engagé</label>
            </div>
            <div th:unless="${engage == 'true'}">
              <input name="equipment" type="checkbox" value="Engagé">
              <label>Engagé</label>
            </div>
            <div th:if="${terrain == 'true'}">
              <input checked name="equipment" type="checkbox" value="Terrain d'aventure">
              <label>Terrain d'aventure</label>
            </div>
            <div th:unless="${terrain == 'true'}">
              <input name="equipment" type="checkbox" value="Terrain d'aventure">
              <label>Terrain d'aventure</label>
            </div>
          </div>
        </div>
        <div class="col-span-2">
          <h1 class="font-bold text-lg text-left">Type(s) de roche des voies</h1>
          <div class="flex flex-col ml-4">
            <div th:if="${gres == 'true'}">
              <input checked name="stonetype" type="checkbox" value="Grès">
              <label>Grès</label>
            </div>
            <div th:unless="${gres == 'true'}">
              <input name="stonetype" type="checkbox" value="Grès">
              <label>Grès</label>
            </div>
            <div th:if="${granite == 'true'}">
              <input checked name="stonetype" type="checkbox" value="Granite">
              <label>Granite</label>
            </div>
            <div th:unless="${granite == 'true'}">
              <input name="stonetype" type="checkbox" value="Granite">
              <label>Granite</label>
            </div>
            <div th:if="${craie == 'true'}">
              <input checked name="stonetype" type="checkbox" value="Craie">
              <label>Craie</label>
            </div>
            <div th:unless="${craie == 'true'}">
              <input name="stonetype" type="checkbox" value="Craie">
              <label>Craie</label>
            </div>
          </div>
        </div>
        <div class="col-span-2 mt-7 ml-4">
          <div th:if="${gneiss == 'true'}">
            <input checked name="stonetype" type="checkbox" value="Gneiss">
            <label>Gneiss</label>
          </div>
          <div th:unless="${gneiss == 'true'}">
            <input name="stonetype" type="checkbox" value="Gneiss">
            <label>Gneiss</label>
          </div>
          <div th:if="${ardoise == 'true'}">
            <input checked name="stonetype" type="checkbox" value="Ardoise">
            <label>Ardoise</label>
          </div>
          <div th:unless="${ardoise == 'true'}">
            <input name="stonetype" type="checkbox" value="Ardoise">
            <label>Ardoise</label>
          </div>
          <div th:if="${calcaire == 'true'}">
            <input checked name="stonetype" type="checkbox" value="Calcaire">
            <label>Calcaire</label>
          </div>
          <div th:unless="${calcaire == 'true'}">
            <input name="stonetype" type="checkbox" value="Calcaire">
            <label>Calcaire</label>
          </div>
        </div>

      </section>
      <section class="block md:hidden grid grid-cols-3 bg-white rounded shadow p-2 gap-2">
        <h1 class="col-span-1 font-bold text-lg text-center">Profile(s) des voies</h1>
        <div class="col-span-2 flex flex-col">
          <div th:if="${devers == 'true'}">
            <input checked name="profile" type="checkbox" value="Dévers">
            <label>Dévers</label>
          </div>
          <div th:unless="${devers == 'true'}">
            <input name="profile" type="checkbox" value="Dévers">
            <label>Dévers</label>
          </div>
          <div th:if="${vertical == 'true'}">
            <input checked name="profile" type="checkbox" value="Vertical">
            <label th:for="profile">Vertical</label>
          </div>
          <div th:unless="${vertical == 'true'}">
            <input name="profile" type="checkbox" value="Vertical">
            <label th:for="profile">Vertical</label>
          </div>
          <div th:if="${dalle == 'true'}">
            <input checked name="profile" type="checkbox" value="Dalle">
            <label th:for="profile">Dalle</label>
          </div>
          <div th:unless="${dalle == 'true'}">
            <input name="profile" type="checkbox" value="Dalle">
            <label th:for="profile">Dalle</label>
          </div>
        </div>
        <h1 class="col-span-1 font-bold text-lg text-center">Équipe- ment(s) des voies</h1>
        <div class="col-span-2 flex flex-col">
          <div th:if="${sportif == 'true'}">
            <input checked name="equipment" type="checkbox" value="Sportif">
            <label>Sportif</label>
          </div>
          <div th:unless="${sportif == 'true'}">
            <input name="equipment" type="checkbox" value="Sportif">
            <label>Sportif</label>
          </div>
          <div th:if="${engage == 'true'}">
            <input checked name="equipment" type="checkbox" value="Engagé">
            <label>Engagé</label>
          </div>
          <div th:unless="${engage == 'true'}">
            <input name="equipment" type="checkbox" value="Engagé">
            <label>Engagé</label>
          </div>
          <div th:if="${terrain == 'true'}">
            <input checked name="equipment" type="checkbox" value="Terrain d'aventure">
            <label>Terrain d'aventure</label>
          </div>
          <div th:unless="${terrain == 'true'}">
            <input name="equipment" type="checkbox" value="Terrain d'aventure">
            <label>Terrain d'aventure</label>
          </div>
        </div>
        <h1 class="col-span-1 font-bold text-lg text-center">Type(s) de roche des voies</h1>
        <div class="col-span-1 flex flex-col items-start">
          <div th:if="${gres == 'true'}">
            <input checked name="stonetype" type="checkbox" value="Grès">
            <label>Grès</label>
          </div>
          <div th:unless="${gres == 'true'}">
            <input name="stonetype" type="checkbox" value="Grès">
            <label>Grès</label>
          </div>
          <div th:if="${granite == 'true'}">
            <input checked name="stonetype" type="checkbox" value="Granite">
            <label>Granite</label>
          </div>
          <div th:unless="${granite == 'true'}">
            <input name="stonetype" type="checkbox" value="Granite">
            <label>Granite</label>
          </div>
          <div th:if="${craie == 'true'}">
            <input checked name="stonetype" type="checkbox" value="Craie">
            <label>Craie</label>
          </div>
          <div th:unless="${craie == 'true'}">
            <input name="stonetype" type="checkbox" value="Craie">
            <label>Craie</label>
          </div>
        </div>
       <div class="col-span-1 flex flex-col items-start">
          <div th:if="${gneiss == 'true'}">
            <input checked name="stonetype" type="checkbox" value="Gneiss">
            <label>Gneiss</label>
          </div>
          <div th:unless="${gneiss == 'true'}">
            <input name="stonetype" type="checkbox" value="Gneiss">
            <label>Gneiss</label>
          </div>
          <div th:if="${ardoise == 'true'}">
            <input checked name="stonetype" type="checkbox" value="Ardoise">
            <label>Ardoise</label>
          </div>
          <div th:unless="${ardoise == 'true'}">
            <input name="stonetype" type="checkbox" value="Ardoise">
            <label>Ardoise</label>
          </div>
          <div th:if="${calcaire == 'true'}">
            <input checked name="stonetype" type="checkbox" value="Calcaire">
            <label>Calcaire</label>
          </div>
          <div th:unless="${calcaire == 'true'}">
            <input name="stonetype" type="checkbox" value="Calcaire">
            <label>Calcaire</label>
          </div>
       </div>
      </section>

      <!-- Section pour avoir les types de prises du site d'escalade -->
      <section class="grid grid-cols-6 md:w-3/5 lg:2/5 gap-2 bg-white rounded shadow p-2">
        <h1 class="col-span-6 md:col-span-2 font-bold text-lg text-center">Type(s) de prises des voies</h1>
        <div class="col-span-3 md:col-span-2">
          <div th:if="${bac == 'true'}">
            <input checked name="plugtype" type="checkbox" value="Bac">
            <label>Bac</label>
          </div>
          <div th:unless="${bac == 'true'}">
            <input name="plugtype" type="checkbox" value="Bac">
            <label>Bac</label>
          </div>
          <div th:if="${minibac == 'true'}">
            <input checked name="plugtype" type="checkbox" value="Mini-bac">
            <label>Mini-bac</label>
          </div>
          <div th:unless="${minibac == 'true'}">
            <input name="plugtype" type="checkbox" value="Mini-bac" >
            <label>Mini-bac</label>
          </div>
          <div th:if="${poignee == 'true'}">
            <input checked name="plugtype" type="checkbox" value="Poignées">
            <label>Poignées</label>
          </div>
          <div th:unless="${poignee == 'true'}">
            <input name="plugtype" type="checkbox" value="Poignées" >
            <label>Poignées</label>
          </div>
          <div th:if="${reglette == 'true'}">
            <input checked name="plugtype" type="checkbox" value="Réglettes">
            <label>Réglettes</label>
          </div>
          <div th:unless="${reglette == 'true'}">
            <input name="plugtype" type="checkbox" value="Réglettes">
            <label>Réglettes</label>
          </div>
          <div th:if="${trou == 'true'}">
            <input checked name="plugtype" type="checkbox"value="Trous">
            <label>Trous</label>
          </div>
          <div th:unless="${trou == 'true'}">
            <input name="plugtype" type="checkbox" value="Trous">
            <label>Trous</label>
          </div>
          <div th:if="${plat == 'true'}">
            <input checked name="plugtype" type="checkbox"value="Plats">
            <label>Plats</label>
          </div>
          <div th:unless="${plat == 'true'}">
            <input name="plugtype" type="checkbox" value="Plats">
            <label>Plats</label>
          </div>
        </div>
        <div class="col-span-3 md:col-span-2">
          <div th:if="${bossette == 'true'}">
            <input checked name="plugtype" type="checkbox"value="Bossettes">
            <label>Bossettes</label>
          </div>
          <div th:unless="${bossette == 'true'}">
            <input name="plugtype" type="checkbox" value="Bossettes">
            <label>Bossettes</label>
          </div>
          <div th:if="${pince == 'true'}">
            <input checked name="plugtype" type="checkbox"value="Pinces">
            <label>Pinces</label>
          </div>
          <div th:unless="${pince == 'true'}">
            <input name="plugtype" type="checkbox" value="Pinces">
            <label>Pinces</label>
          </div>
          <div th:if="${colonne == 'true'}">
            <input checked name="plugtype" type="checkbox"value="Colonnes">
            <label>Colonnes</label>
          </div>
          <div th:unless="${colonne == 'true'}">
            <input name="plugtype" type="checkbox" value="Colonnes">
            <label>Colonnes</label>
          </div>
          <div th:if="${boule == 'true'}">
            <input checked name="plugtype" type="checkbox" value="Boules">
            <label>Boules</label>
          </div>
          <div th:unless="${boule == 'true'}">
            <input name="plugtype" type="checkbox" value="Boules">
            <label>Boules</label>
          </div>
          <div th:if="${volume == 'true'}">
            <input checked name="plugtype" type="checkbox" value="Volumes">
            <label>Volumes</label>
          </div>
          <div th:unless="${volume == 'true'}">
            <input name="plugtype" type="checkbox" value="Volumes">
            <label>Volumes</label>
          </div>
          <div th:if="${fissure == 'true'}">
            <input checked name="plugtype" type="checkbox" value="Fissures">
            <label>Fissures</label>
          </div>
          <div th:unless="${fissure == 'true'}">
            <input name="plugtype" type="checkbox" value="Fissures">
            <label>Fissures</label>
          </div>
        </div>
      </section>

      <!-- Section pour avoir les meilleurs saison et l'orientation du site d'escalade -->
      <section class="bg-white rounded shadow p-2 grid grid-cols-2">
        <h1 class="font-bold text-lg text-center">Meilleur(s) Saison(s)</h1>
        <div class="ml-2">
          <div th:if="${automne == 'true'}">
            <input checked name="bestsaison" type="checkbox" value="Automne">
            <label>Automne</label>
          </div>
          <div th:unless="${automne == 'true'}">
            <input name="bestsaison" type="checkbox" value="Automne">
            <label>Automne</label>
          </div>
          <div th:if="${hiver == 'true'}">
            <input checked name="bestsaison" type="checkbox" value="Hiver">
            <label>Hiver</label>
          </div>
          <div th:unless="${hiver == 'true'}">
            <input name="bestsaison" type="checkbox" value="Hiver">
            <label>Hiver</label>
          </div>
          <div th:if="${ete == 'true'}">
            <input checked name="bestsaison" type="checkbox" value="Été">
            <label>Été</label>
          </div>
          <div th:unless="${ete == 'true'}">
            <input name="bestsaison" type="checkbox" value="Été">
            <label>Été</label>
          </div>
          <div th:if="${printemps == 'true'}">
            <input checked name="bestsaison" type="checkbox" value="Printemps">
            <label>Printemps</label>
          </div>
          <div th:unless="${printemps == 'true'}">
            <input name="bestsaison" type="checkbox" value="Printemps">
            <label>Printemps</label>
          </div>
        </div>
        <h1 class="font-bold text-lg text-center mt-2">Orientation(s)</h1>
        <div class="ml-2 mt-2">
          <div th:if="${s == 'true'}">
            <input checked name="orientation" type="checkbox" value="S">
            <label>Sud</label>
          </div>
          <div th:unless="${s == 'true'}">
            <input name="orientation" type="checkbox" value="S">
            <label>Sud</label>
          </div>
          <div th:if="${e == 'true'}">
            <input checked name="orientation" type="checkbox" value="E">
            <label>Est</label>
          </div>
          <div th:unless="${e == 'true'}">
            <input name="orientation" type="checkbox" value="E">
            <label>Est</label>
          </div>
          <div th:if="${n == 'true'}">
            <input checked name="orientation" type="checkbox" value="N">
            <label>Nord</label>
          </div>
          <div th:unless="${n == 'true'}">
            <input name="orientation" type="checkbox" value="N">
            <label>Nord</label>
          </div>
          <div th:if="${o == 'true'}">
            <input checked name="orientation" type="checkbox" value="O">
            <label>Ouest</label>
          </div>
          <div th:unless="${o == 'true'}">
            <input name="orientation" type="checkbox" value="O">
            <label>Ouest</label>
          </div>
        </div>
      </section>

      <!-- Section pour avoir l'accès au site d'escalade et l'url de l'iframe ggmaps-->
      <section class="bg-white rounded shadow p-2 md:w-4/5">
        <!-- Input pour avoir l'accès du site d'escalade -->
        <div class="grid grid-cols-3 mb-2">
          <h1 class="col-span-1 font-bold text-lg text-center">Accè(s) au site</h1>
          <label class="sr-only" th:for="access"></label>
          <textarea autocomplete="access" class="appearance-none col-span-2
                    block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900
                    rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                    cols="1200" maxlength = "40" placeholder="Description du site" required rows="3"
                 th:field="${cs.access}" th:id="access"
                 th:name="access"
                 title="Lettres de A à Z (a à z) avec ou sans accent, les chiffres, les espaces, apostrophes et les tirets courts." type="text"></textarea>
        </div>
        <!-- Input pour avoir lurl de l'iframe ggmaps du site d'escalade -->
        <div class="grid grid-cols-3">
          <h1 class="col-span-1 font-bold text-lg text-center">Url de l'iframe de googleMaps</h1>
          <label class="sr-only" th:for="urlggmaps"></label>
          <textarea class="appearance-none col-span-2
                    block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900
                    rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                    cols="1200" maxlength = "40" placeholder="Description du site" required rows="5"
                 th:field="${cs.urlggmaps}" th:id="urlggmaps"
                 th:name="urlggmaps"
                 title="Lettres de A à Z (a à z) avec ou sans accent, les chiffres, les espaces, apostrophes et les tirets courts." type="text"></textarea>
        </div>
      </section>

      <!-- Section du Tag 'Officiel Amis de l'escalade' -->
      <section class="grid grid-cols-2 items-center gap-2 bg-white rounded shadow p-2 md:w-3/5 lg:w-2/5">
        <div>
          <h1 class="font-bold text-lg text-center">Site officiel des amis de l'escalade ?</h1>
        </div>
        <style>
        /* CHECKBOX TOGGLE SWITCH */
        /* @apply rules for documentation, these do not work as inline style */
        .toggle-checkbox:checked {
          @apply: right-0 border-red-600;
          right: 0;
          border-color: #DC2626;
        }
        .toggle-checkbox:checked + .toggle-label {
          @apply: bg-red-600;
          background-color: #DC2626;
        }
      </style>
        <div class="ml-4" th:if="${cs.official == 'false'}">
          <div class="relative inline-block w-10 align-middle select-none transition duration-200 ease-in">
            <input class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" name="toggle" type="checkbox"/>
            <label class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
          </div>
          <label class="text-xs text-gray-700">(Non/Oui)</label>
        </div>
        <div class="ml-4" th:unless="${cs.official == 'false'}">
          <div class="relative inline-block w-10 align-middle select-none transition duration-200 ease-in">
            <input checked class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" name="toggle" type="checkbox"/>
            <label class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
          </div>
          <label class="text-xs text-gray-700">(Non/Oui)</label>
        </div>
      </section>

      <!-- Bouton de submit du formulaire de login -->
      <button class="group relative w-2/4 flex justify-center py-2 px-4 border border-transparent
            text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2
            focus:ring-offset-2 focus:ring-indigo-500 my-10" type="submit">Enregistrer les modifications
      </button>

    </div>
  </form>
</main>

<div th:insert="fragments/footer :: footer"></div>

</body>
</html>