<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link href="/css/tailwind.css" rel="stylesheet">
  <title>Amis de l'Escalade - Un site d'Escalade</title>

</head>
<body>
  <section class="fixed top-0 w-full" th:insert="fragments/header :: header"></section>
  <main class="bg-gray-100">

    <section class="block lg:hidden flex justify-center mt-20 mb-6">
      <div class="bg-white rounded shadow-lg w-4/5 h-full p-2 flex">
        <img alt="Photo du secteur" th:src="${pathImages+'/sector.jpg'}">
      </div>
    </section>

    <!-- Section qui décrits les informations principaux du sites d'escalades -->
    <section class="lg:mt-20 flex justify-center gap-x-4 mb-6">
      <div class="flex flex-col h-full w-4/5 lg:w-1/3 p-2 bg-white rounded shadow space-y-2">
        <div class="flex flex-col bg-white rounded shadow-lg place-items-center text-center p-2">
          <h3  class="text-lg"
               th:text="${'Grimper en '+cs.region+' ('+cs.country+') à'}"></h3>
          <h1  class="font-bold text-3xl"
               th:text="${cs.name}"></h1>
          <h3  class="text-lg"
               th:text="${cs.description}"></h3>
          <h3 class="font-bold text-red-600 text-lg" th:if="${cs.official == 'true'}">Site Officiel des amis de l'escalade !</h3>
        </div>

        <div class="flex flex-col bg-white rounded shadow-lg place-items-center text-center text-lg p-2">
          <h3 class="text-lg">Nombre de voies : <span class="font-bold" th:text="${cs.nbRoute}"></span></h3>
          <h3 class="text-lg">Hauteur max : <span class="font-bold" th:text="${cs.maxHeight}"></span></h3>
          <h3 class="text-lg">Profil(s) :</h3>
          <h3 class="font-bold" th:text="${cs.profile}"></h3>
          <h3 class="text-lg">Type(s) de prise(s) :</h3>
          <h3 class="font-bold" th:text="${cs.plugType}"></h3>
          <h3  class="text-lg">Type de Rocher : <span class="font-bold" th:text="${cs.stoneType}"></span></h3>
          <h3  class="text-lg">Équipement : <span class="font-bold" th:text="${cs.equipment}"></span></h3>
          <h3 class="text-lg">Cotations :</h3>
          <h3 class="font-bold" th:text="${cs.cotationsRange}"></h3>
        </div>

        <div class="flex flex-col bg-white rounded shadow-lg place-items-center text-center text-lg p-2">
          <h3 class="text-lg">Meilleurs saison(s) :</h3>
          <h3 class="font-bold text-lg" th:text="${cs.bestSeason}"></h3>
          <h3  class="text-lg">Orientation(s) : <span class="font-bold" th:text="${cs.orientations}"></span></h3>
        </div>
      </div>

      <!-- Petite photos du sites d'escalades -->
      <div class="bg-white rounded shadow-lg w-1/3 h-full p-2 flex hidden lg:block ">
        <img alt="Photo du secteur" th:src="${cs.pathImages+'/sector.jpg'}">
      </div>
    </section>

    <!-- Section pour des informations supplémentaires facultatives -->
    <section class="flex justify-center mb-6" th:if="${cs.infoSup != ''}">
      <div class="bg-white rounded shadow w-4/5 lg:w-2/3 p-2">
        <div class="bg-white rounded shadow-lg w-full p-2">
          <h3 class="text-lg">Informations supplémentaires :</h3>
          <h3 class="font-bold text-lg" th:text="${cs.infoSup}"></h3>
        </div>
      </div>
    </section>

    <!-- Section accès au sites avec un ifram ggmaps -->
    <section class="flex flex-col justify-center place-items-center mb-6">
      <div class="bg-white rounded shadow rounded-b-none w-4/5 lg:w-2/3 p-2">
        <div class="bg-white rounded shadow-lg w-full p-2">
          <h3 class="text-lg">Accès :</h3>
          <h3 class="font-bold text-lg" th:text="${cs.access}"></h3>
        </div>
      </div>

      <div class="flex justify-center bg-white rounded rounded-t-none shadow-lg w-4/5 lg:w-2/3 p-2">
        <iframe allowfullscreen="true"
                class="rounded" height="450" loading="lazy" style="border:0;" th:src="${cs.urlggmaps}"
                width="650" ></iframe>
      </div>
    </section>

    <div class="flex justify-center mt-4" th:if="${editRight == 'true'}">
      <h1 class="text-2xl text-center md:text-left font-bold ml-2 ">Modifier les informations du sites d'escalades :</h1>
      <form method="post" th:action="@{/modifié-site-escalade(csId=${cs.id})}">
        <button class="font-bold ml-4 py-2 px-4 bg-red-600 hover:bg-red-700 text-lg text-white shadow-md rounded-lg ">Modifier</button>
      </form>
    </div>

    <!-- Section des commentaires -->
    <section class="flex flex-col justify-center mb-6">
      <div class="rounded-b-lg mt-4 ">
        <!-- Bouton Connecter vous OU Commentez + testarea -->
        <div class="flex justify-center" th:if="${#session.getAttribute('user') != null}">
          <form class="flex w-screen my-4 flex-col items-center justify-center" method="post" modelAttribute="com" th:action="@{/site-escalade(csId=${cs.id},page=${currentPage})}" th:object="${com}">
            <label class="sr-only" th:for="content">content</label>
            <textarea class="w-4/5 shadow-inner p-4 border-0 mb-4 rounded-lg focus:shadow-outline text-lg"
                      placeholder="Laissez un commentaires sur ce sites d'escalades pour la communauté"
                      spellcheck="false" th:id="content" th:name="content"></textarea>
            <button class="font-bold w-2/5 mt-2 mb-4 py-2 px-4 bg-green-700 text-lg text-white shadow-md rounded-lg ">Commentez</button>
          </form>
        </div>
        <div class="flex justify-center items-center" th:if="${#session.getAttribute('user') == null}">
          <h1 class="text-2xl text-center md:text-left font-bold ml-2 ">Connectez-vous pour écrire un commentaire :</h1>
          <form method="get" th:action="@{/login}">
            <button class="font-bold ml-4 py-2 px-4 bg-red-600 hover:bg-red-700 text-lg text-white shadow-md rounded-lg ">Se connecter</button>
          </form>
        </div>

        <!-- Boucle d'affichage des commentaires -->
        <div class="pt-4 flex flex-col place-items-center items-center justify-center">
          <div class="w-4/5 bg-white rounded-lg p-3 flex flex-col place-items-center items-center justify-center md:items-start shadow-lg mb-4"
               th:each="com, iStat : ${coms}">
            <div class="grid grid-cols-12 w-full">
              <img alt="avatar" class="col-span-2 sm:col-span-1 sm:justify-self-end rounded-full w-10 h-10 shadow-lg my-2" height="48" src="https://cdn1.iconfinder.com/data/icons/technology-devices-2/100/Profile-512.png" width="48">
              <div class="col-span-6 ml-2">
                <h3 class="text-purple-600 font-semibold text-lg text-left " th:text="${'@'+comsUsers.get(iStat.index).userName}"></h3>
                <p class="text-gray-600 text-xs text-left" th:text="${com.creationDate}"></p>
              </div>
              <div class="col-span-1 sm:col-span-3"></div>
              <div class="col-span-1 justify-self-end"  th:if="${editRight == 'true'}">
                <a th:href="@{~/modifié-un-commentaire(id=${com.id})}" title="Modifier le commentaire">
                  <img alt="Logo modifier" class="mt-1" height="16" src="images/logos/logo_modifier.svg" width="16"/>
                </a>
              </div>
              <div class="col-span-1 sm:hidden"></div>
              <div class="col-span-1 justify-self-end" th:if="${editRight == 'true'}">
                <a onclick="return confirm('Voulez vous vraiment supprimer ce commentaire ?')" th:href="@{~/site-escalade-commentaire-supprimé(id=${com.id})}" title="Supprimer le commentaire">
                  <img alt="Logo supprimer" class="" height="16" src="images/logos/logo_delete.svg" width="16"/>
                </a>
              </div>
            </div>
            <div class="grid grid-cols-12 w-full">
              <div class="hidden sm:block sm:col-span-1"></div>
              <p class="col-span-12 sm:col-span-10 text-gray-600 text-lg text-center md:text-left " style="width: 90%" th:text="${com.content}"></p>
              <div class="hidden sm:block sm:col-span-1"></div>
            </div>


          </div>


        </div>
      </div>

      <div class="mt-4 mr-2 flex flex-row justify-end gap-1 items-center" >
        <th:block th:each="pageCom, iStat: ${listPage}" th:if="${pageCom != 0}">
          <div th:if="${iStat.first}">
            <a class="text-blue-500" th:href="@{/site-escalade(page=${currentPage-1})}" th:if="${currentPage > 1}">
              <svg class="bi bi-caret-left-fill" fill="currentColor" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
              </svg>
            </a>
          </div>

          <div th:if="${currentPage != pageCom}">
            <a class="text-blue-500" th:href="@{/site-escalade(page=${pageCom})}"> [[${pageCom}]]</a><br/>
          </div>
          <div th:unless="${currentPage != pageCom}">
            <a class="text-blue-500 font-semibold underline" th:href="@{/site-escalade(page=${pageCom})}"> [[${pageCom}]]</a><br/>
          </div>

          <div th:if="${iStat.last}">
            <a class="text-blue-500" th:href="@{/site-escalade(page=${currentPage+1})}" th:if="${pageCom != currentPage}">
              <svg class="bi bi-caret-right-fill" fill="currentColor" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </a>
          </div>
        </th:block>
      </div>

    </section>

  </main>
  <section th:insert="fragments/footer :: footer"></section>
</body>
</html>


