<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link href="/css/tailwind.css" rel="stylesheet">
  <title>Amis de l'Escalade</title>

</head>

<body>
<div class="py-28 md:py-48"> <!-- Quick fix pour la NavBar Fixé -->

  <!-- Insertion du header -->
  <div th:insert="fragments/header :: header"></div>

  <section class="mx-2 sm:ml-4">
    <!-- Nom & secteur du Topo -->
    <div class="sm:mx-24 md:mx-32 2xl:mx-96 mb-4 py-4 bg-yellow-50 rounded shadow-lg">
      <h1 class="min-w-min font-bold text-center text-2xl sm:text-4xl"><span th:text="${nameCS}"/></h1>
      <h2 class="min-w-min font-bold text-center text-xl sm:text-4xl"><span th:text="${sectorCS}"/></h2>
    </div>
    <!-- Informations du Topo -->
    <div class="sm:mx-24 md:mx-32 2xl:mx-96 bg-green-50 max-w-full rounded shadow-lg">
      <!-- Descriptif -->
      <div class="mb-2">
        <h3 class="text-center text-lg mx-1 sm:ml-4 underline">Descriptif :</h3>
        <p class="text-left md:text-center"><span th:text="${descriptifCS}"/></p>
      </div>
      <!-- Profile de Difficulté -->
      <div class="my-2">
        <h3 class="text-center text-lg mx-1 sm:ml-4 underline">Profil de Difficulté :</h3>
        <p class="text-left md:text-center"><span th:text="${difficultyCS}"/></p>
      </div>
      <!-- Accès -->
      <div class="mb-4">
        <h3 class="text-center text-lg mx-1 sm:ml-4 underline">Accès :</h3>
        <p class="text-left md:text-center"><span th:text="${accessCS}"/></p>
      </div>
    </div>

    <!-- Cartes du secteur et de ses environs -->
    <div class="flex justify-center sm:mx-24 md:mx-32 2xl:mx-96 mt-4">
      <img alt="Carte Access" class="rounded shadow-lg" th:src="${pathAccess}">
    </div>

    <!-- Cartes et tableaux des voies -->
    <div class="flex flex-col xl:flex-row mt-4 xl:mx-10">
      <div class="flex">
        <img alt="Carte Blocs" class="rounded shadow-lg" th:src="${pathBlocs}">
      </div>

      <table class="table table w-full xl:w-3/5">
        <thead class = "table-header-group">
          <caption class="table-caption font-bold bg-gray-300" th:text="${blocsName}"></caption>
          <tr class="table-row">
            <th class="table-cell border">N° du bloc</th>
            <th class="table-cell border">Cotation</th>
            <th class="table-cell border">Nom, remarques...</th>
          </tr>
        </thead>

        <tbody class="table-row-group">
          <tr class="table-row items-start" th:each="watchlistItem : ${blocList}">
            <div class="flex items-start" th:if="${watchlistItem.id % 2 == 0}">
              <td class="table-cell border text-center font-bold" th:text="${watchlistItem.number}">1</td>
              <td class="table-cell border text-center" th:text="${watchlistItem.quotes}">4b</td>
              <td class="table-cell border text-center" th:text="${watchlistItem.notes}">@</td>
            </div>
            <div class="flex items-start" th:if="${( watchlistItem.id) % 2 == 1}">
              <td class="table-cell bg-gray-300 border text-center font-bold" th:text="${watchlistItem.number}">1</td>
              <td class="table-cell bg-gray-300 border text-center" th:text="${watchlistItem.quotes}">4b</td>
              <td class="table-cell bg-gray-300 border text-center" th:text="${watchlistItem.notes}">@</td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>


  </section>
</div>
  <!-- Insertion du header -->
  <div th:insert="fragments/footer :: footer"></div>

</body>
</html>