<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link href="/css/tailwind.css" rel="stylesheet">
  <title>Amis de l'Escalade</title>

</head>

<body class="bg-gray-100">
  <div class="pt-28 md:pt-40 bg-gray-100"> <!-- Quick fix pour la NavBar Fixé -->

    <!-- Insertion du header -->
    <div th:insert="fragments/header :: header"></div>

    <!-- Barre de filtrage -->
    <section class="fixed w-screen">
      <div class="flex flex-row mx-8 py-2 my-2 bg-purple-100 rounded-md ">
        <input autocomplete="off" class="py-2 pl-4 px-2 mr-2 text-sm text-black bg-purple-100 rounded-md flex-grow
                      focus:outline-none focus:ring-4 focus:ring-purple-500 "
               id="searchInput"
               placeholder="Filtrer les sites en écrivant une région, un pays, un nom, un nombre de voie(s), une hauteur maximale, une orientation" type="search">
      </div>
    </section>
  </div>

  <!-- Bouton ajouté un site si l'utilisateur est connecté -->
  <section class="mt-10 md:mt-20 md:mr-4 flex justify-center md:justify-end" th:if="${#session.getAttribute('user') != null}">
    <a th:href="@{/modifié-site-escalade(csId=0)}">
      <button class="p-2 border border-transparent
            text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2
            focus:ring-offset-2 focus:ring-indigo-500 mt-10 md:mt-0" >Partager un nouveau site d'escalades
      </button>
    </a>
  </section>

  <!-- Card sites Escalades -->
  <main class="">
    <div class="content">
      <section class=" mt-8 gap-8"
           th:each="cs, iStat : ${css}">
        <div class="flex flex-col card">
          <div class="bg-white shadow-md  rounded-3xl p-4">
            <div class="flex-none lg:flex">
              <div class=" h-full w-full lg:h-48 lg:w-48   lg:mb-0 mb-3">
                <img alt="Photo du secteur"
                     class="w-full object-scale-down lg:object-cover lg:h-48 rounded-2xl" th:src="${cs.pathImages+'/sector.jpg'}">
              </div>
              <div class="flex-auto ml-3 justify-evenly py-2">
                <div class="flex flex-wrap justify-between">
                  <h2 class="flex-auto text-2xl font-medium" th:text="${cs.name}"></h2>

                  <div class="inline-flex items-center text-gray-600">
                    <svg class="h-5 w-5 mr-3" fill="none" stroke="currentColor"
                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2">
                      </path>
                      <path d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"></path>
                    </svg>
                    <p class="" th:text="${cs.region+', '+acs.country}"></p>
                  </div>
                </div>
                <div class="my-4 ">
                  <p th:text="${cs.description}"></p>
                </div>
                <div class="flex p-4 pb-2 border-t border-gray-200 "></div>
                <div class="flex justify-between text-sm font-medium">
                  <div>
                    <p th:text="${'Nombre de voie(s) : '+cs.nbRoute}"></p>
                    <p th:text="${'Hauteur maximale : '+cs.maxHeight}"></p>
                    <p th:text="${'Orientation(s) : '+cs.orientations}"></p>
                    <p class="font-bold text-red-600 text-lg" th:if="${cs.official == 'true'}">Officiel Amis de L'Escalade</p>
                  </div>
                  <form action="/site-escalade" method="post">
                    <button
                            aria-label="like" class="ml-2 mb-2 md:mb-0 bg-red-600 hover:bg-red-700 p-4 shadow-sm tracking-wider text-white rounded-full" name="cs_id" th:value="${cs.id}"
                            type="submit">En savoir plus...</button>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>


<!-- Insertion du footer -->
<div class="mt-4" th:insert="fragments/footer :: footer"></div>

</body>

<!-- Script de filtrage pour la barre de filtre -->
<script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script>
   $(document).ready(function(){
      $("#searchInput").on("keyup", function() {
         var value = $(this).val().toLowerCase();
         $(".card").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
         });
      });
   });
</script>

</html>